<div class="row">
	<div class="span6 offset3">
		<div class="well">
			<h1 class="center">Login</h1>
			
			<%= render('common/error_messages', errors: @errors) %>
			
			<%= form_for(:session, url: sessions_path, builder: BootstrapFormBuilder) do |f| %>
			
			<%= f.text_field :email %>
			<%= f.password_field :password %>
			
			<%= f.submit 'Login' %>
			
			<% end %>
		</div>
	</div>
</div>