<div class="row">
	<div class="span6 offset3">
		<div class="well">
			<h1 class="center">Profile Update</h1>
			
			<%= render 'common/error_messages', errors: @user.errors.full_messages %>
			
			<%= form_for(@user, builder: BootstrapFormBuilder, html: {class: "form-regular"}) do |f| %>

			<%= f.text_field :name, placeholder: 'Name' %>
			<%= f.password_field :password, placeholder: 'Password' %>
			<%= f.password_field :password_confirmation, placeholder: 'Password Confirmation' %><br />

			<%= f.submit 'Submit' %>
			
			<% end %>
		</div>
	</div>
</div>