<div class="row">
		</div>

<div class="row">
	<div class="span6 offset3">
		<div class="well">
			<h1 class="center">New User</h1>
			
			<% if @user.errors.any? %>
				<div class="alert alert-error">
				<% @user.errors.full_messages.each do |error| %>
					<%= error %><br />
				<% end %>
				</div>
			<% else %>
				<br />
			<% end %>
			
			<%= form_for(@user, builder: BootstrapFormBuilder) do |f| %>

			<%= f.text_field :name, placeholder: 'Name' %>
			<%= f.text_field :email, placeholder: 'Email' %>
			<%= f.password_field :password, placeholder: 'Password' %>
			<%= f.password_field :password_confirmation, placeholder: 'Password Confirmation' %><br />

			<%= f.submit %>
		</div>
	</div>
</div>

<% end %>