<% if tweets.any? %>

<% tweets.each do |tweet| %>

<hr />
<div class="row">
	<div class="span1">
		<%= avatar_for(tweet.user, size: "200x200") %>
	</div>
	<div class="span11">
		<p class="tweet-author"><%= link_to tweet.user.name, show_timeline_path(tweet.user) %><small class="tweet-timecode pull-right"><%= tweet.created_at %></small></p>
		<p class="tweet-text"><%= html_codify tweet.content %></p>
	</div>
	
	<div class="row">
		<div class="span12">
			<a class="btn btn-mini pull-right tweet-button">Retweet</a>
			<a class="btn btn-mini pull-right tweet-button">Comment</a>
		</div>
	</div>
</div>

<% end %>

<hr />

<%= will_paginate tweets %>

<% else %>

<hr />
<h3 class="center">There are no tweets yet. </h3>
<hr />

<% end %>