<h1>Timeline</h1><br />

<div class="row">
			<%= form_for :tweet, url: tweets_path do |f| %>
			<div class="span9">
				<%= f.text_area :content, rows: 6, class: "tweetsheet-sheet" %>
			</div>
			<div class="span3">
				<%= f.submit 'Tweet!', class: "btn btn-primary tweetsheet-button" %>
				<button class="btn btn-primary tweetsheet-button">Clear</button>
			</div>
			<% end %>
</div>

<% if @tweets.any? %>

<% @tweets.each do |tweet| %>

<hr />
<div class="row">
	<div class="span1">
		<img src="http://t2.baidu.com/it/u=2979729822,2153618777&fm=0&gp=0.jpg" />
	</div>
	<div class="span11">
		<p class="tweet-author"><%= tweet.user.name %></p>
		<p class="tweet-text"><%= tweet.content %></p>
	</div>
	
	<div class="row">
		<div class="span12">
			<a class="btn btn-mini pull-right">Retweet</a>
			<a class="btn btn-mini pull-right">Comment</a>
		</div>
	</div>
</div>

<% end %>

<%= will_paginate @tweets %>

<% else %>

<p class="center">There are no tweets yet. </p>

<% end %>



<%
	
=begin
<hr />
<div class="row">
	<div class="span1">
		<img src="http://t2.baidu.com/it/u=2979729822,2153618777&fm=0&gp=0.jpg" />
	</div>
	<div class="span11">
		<p class="tweet-text">90岁的灯泡坐在办公室的椅子上。冯亚伦去交作业时说:“邓老师作文只交了三篇”“正好小绿也死了我也不想改了。”“今天晚上晚自习干什么？”“我这里还有当年的雷雨 红楼梦和爱美丽 你拷去让他们选吧…”“邓老师胡老师找你去老成都喝酒。”灯泡瞬间腾起：“快，快，快扶我起来见他！”</p><br />
		<div class="row">
			<div class="row well">
				<div class="span1">
					<img src="http://t2.baidu.com/it/u=2979729822,2153618777&fm=0&gp=0.jpg" />
				</div>
				<div class="span9">
					<p class="tweet-text">90岁的灯泡坐在办公室的椅子上。冯亚伦去交作业时说:“邓老师作文只交了三篇”“正好小绿也死了我也不想改了。”“今天晚上晚自习干什么？”“我这里还有当年的雷雨 红楼梦和爱美丽 你拷去让他们选吧…”“邓老师胡老师找你去老成都喝酒。”灯泡瞬间腾起：“快，快，快扶我起来见他！”</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="span12">
			<a class="btn btn-mini pull-right">Retweet</a>
			<a class="btn btn-mini pull-right">Comment</a>
		</div>
	</div>
</div>

<hr />
<div class="row">
	<div class="span1">
		<img src="http://t2.baidu.com/it/u=2979729822,2153618777&fm=0&gp=0.jpg" />
	</div>
	<div class="span11">
		<p class="tweet-text">90岁的灯泡坐在办公室的椅子上。冯亚伦去交作业时说:“邓老师作文只交了三篇”“正好小绿也死了我也不想改了。”“今天晚上晚自习干什么？”“我这里还有当年的雷雨 红楼梦和爱美丽 你拷去让他们选吧…”“邓老师胡老师找你去老成都喝酒。”灯泡瞬间腾起：“快，快，快扶我起来见他！”</p><br />
		<div class="row">
			<div class="row well">
				<div class="span1">
					<img src="http://t2.baidu.com/it/u=2979729822,2153618777&fm=0&gp=0.jpg" />
				</div>
				<div class="span9">
					<p class="tweet-text">90岁的灯泡坐在办公室的椅子上。冯亚伦去交作业时说:“邓老师作文只交了三篇”“正好小绿也死了我也不想改了。”“今天晚上晚自习干什么？”“我这里还有当年的雷雨 红楼梦和爱美丽 你拷去让他们选吧…”“邓老师胡老师找你去老成都喝酒。”灯泡瞬间腾起：“快，快，快扶我起来见他！”</p>
				</div>
			</div>
		</div>
	</div>
</div>

=end

%>