<h1>Timeline</h1><br />

<div class="row">
  <%= form_for :tweet, url: tweets_path do |f| %>
    <div class="span10">
      <%= f.text_area :content, rows: 6, class: "tweetsheet-sheet", value: flash[:saved_tweet_content] %>
    </div>
    <div class="span2">
      <%= f.submit 'Tweet!', class: "btn btn-primary tweetsheet-button" %>
      <button class="btn btn-primary tweetsheet-button" id="tweetsheet-clear-button">Clear</button>
      <small class="center tweetsheet-wordcount tweetsheet-wordcount"><span id="tweetsheet-remaining">140</span> chars remaining. </small>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="span12">
  <div class="alert alert-warning" id="timeline-new-tweets">
    <a href="<%= timeline_path %>"><span id="timeline-new-tweets-count">12</span> new tweets. </a>
  </div>
  </div>
</div>

<%= render('tweets_list', tweets: @tweets) %>

