<!DOCTYPE html>
<html>
<head>
  <title>Mytwit</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="navbar navbar-inverse navbar-static-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="#">MyTwit</a>
				<ul class="nav">
					<li><%= link_to 'Users', users_path %></li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="container" id="main_container">
		<div class="row">
			<div class="span12">
				<% flash.each do |key, value| %>
				<div class="alert alert-<%= key.to_s %>">
					<%= value %>
				</div>
				<% end %>
			</div>
		</div>
		<%= yield %>
	</div>

</body>
</html>
