<!DOCTYPE html>
<html>
<head>
  <title>Mytwit</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="navbar navbar-inverse navbar-static-top">
		<div class="navbar-inner">
			<div class="container">
				<%= link_to 'MyTwit', root_path, class: 'brand' %>
				<ul class="nav">
					<li><%= link_to 'Users', users_path %></li>
					<% if signed_in? then %>
						<li><%= link_to 'Logout', signout_path, method: :delete %></li>
					<% else %>
						<li><%= link_to 'Register', signup_path %></li>
						<li><%= link_to 'Login', signin_path %></li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="container" id="main_container">
		<div class="row">
			<div class="span12">
				<% flash.each do |key, value| %>
				<div class="alert alert-<%= key.to_s %>">
					<%= value %>
				</div>
				<% end %>
			</div>
		</div>
		<%= yield %>
		<%= debug(params) %>
	</div>


</body>
</html>
